<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css">
    <title>Navigation</title>
</head>
<body>
  <nav class="menu ">
    <ul class="menu__list">
        <li class="menu__item">
            
            <button class="button button-nav">Проекты</button>
        </li>
        <li class="menu__item">
            <button class="button button-nav active">Задачи</button>
        
        </li>
        <li class="menu__item">
            <button class="button button-nav">Пользователи</button>
        
        </li>
      
       
    </ul>
    <div class="btn-user">
        <button class="button button-user"> 
            <img class="menu-profile-avatar avatar-img" src="../../img/logo-icon.png" alt="img profile">
            <img class="menu-profile-icon" src ="../../icons/drop-down.svg" alt="drop-down">
        </button> 
        <div class="btn-user__menu active">
            <ul class="user__menu-list">
                <li class="user__menu-item">
                    <a href="#" class="user__menu">Профиль</a>
                </li>
                <li class="user__menu-item">
                    <a href="#" class="user__menu">Выход</a>
                </li>
            </ul>
          
            
        </div>
    </div>


   
   
</nav>  
</body>
</html>