@import url('../../color.css');
@import url('../../components/button/style.css');
@import url('../../general.css');


*{
 
    padding: 0px;
	margin: 0px;
	border: 0px;

}


html,
body {
	height: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    
	
}
.wrapper{
    width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
   
}

/* main styles */

.menu {
    background-color: var(--bg-primaryDefault);
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 20px;
    

}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;

    list-style: none;
}






.menu-profile-avatar {
    margin: 0px 14px 0px 0px;

}



.btn-user{
    position: relative;
    background-color: grey;
   
}

.btn-user__menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 4px;

}
.btn-user__menu .active{
    display: block;
}

.user__menu{
    color: black;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    
    
}

.user__menu-list {
    list-style: none;
}
.user__menu-item {
    padding: 8px;
    
}
