@import url('../../color.css');
@import url('../../components/button/style.css');
@import url('../../general.css');


*{
 
    padding: 0px;
	margin: 0px;
	border: 0px;

}


html,
body {
	height: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    
	
}
.wrapper{
    width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
   
}

/* main styles */

.menu {
    background-color: var(--bg-primaryDefault);
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
    

}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 24px;

    list-style: none;
}






.menu-profile-avatar {
    margin: 0px 14px 0px 0px;

}



