<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap'
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css">
    <title>Project item</title>
</head>
<body>

    <div class="wrapper">
        <div class="project-items">
            <div class="project-items-container">
                <div class="project-item">
                    <div class="project-item-main">
                        <div class="project-item__title">
                            <p>Очень длинное название проекта, создано специального для того чтоб не вместилось в одну строку, что позволит проверить не ломается ли верстка. И еще раз очень длинное название проекта, создано специально чтоб проверить не слом ли верстка если добавить создано специально чтоб 111 проверить не сломается ли верстка если добавить</p>
                        
                        </div>
                       
                        <div class="project-item__body ">
                            <div class="project-item__body-id "><p >#1</p></div>
                            
                            <div class="project-item__body-create"><p>Иванов И.И. создал 1 час назад</p></div>
                            <div class="project-item__body-update"><p>Баранов В.В. изменил 1 минуту назад</p></div>
                            <div class="project-item__body-dotts"></div>
                        </div>
                    </div>
               
                    <button class="button-addittionaly project-item__addittionaly">
                        <img src="../../icons/dots.svg" alt="dots">
                    </button>
                    
                </div>
                <div class="project-item">
                    <div class="project-item-main">
                        <div class="project-item__title">
                            <p>Очень длинное название проекта, создано специального для того чтоб не вместилось в одну строку, что позволит проверить не ломается ли верстка. И еще раз очень длинное название проекта, создано специально чтоб проверить не слом ли верстка если добавить создано специально чтоб 111 проверить не сломается ли верстка если добавить</p>
                        
                        </div>
                       
                        <div class="project-item__body ">
                            <div class="project-item__body-id "><p >#1sdfgdfgfd876df987g6df876g8d9fgdf8g56df89g5d98g675df9g675f98gfd75</p></div>
                            
                            <div class="project-item__body-create color-disable"><p>Иванов И.И. создал 1 час назад</p></div>
                            <div class="project-item__body-update color-disable"><p>Баранов В.В. изменил 1 минуту назад</p></div>
                            <div class="project-item__body-dotts"></div>
                        </div>
                    </div>
               
                    <button class="button-addittionaly project-item__addittionaly">
                        <img src="../../icons/dots.svg" alt="dots">
                    </button>
                    
                </div>
                <div class="project-item">
                    <div class="project-item-main">
                        <div class="project-item__title">
                            <p>название специально чтоб 111 проверить не сломается ли верстка если добавить</p>
                        
                        </div>
                       
                        <div class="project-item__body ">
                            <div class="project-item__body-id "><p >#1s75f98gfd75</p></div>
                            
                            <div class="project-item__body-create "><p>Иванов И.И. создал 1 час назад</p></div>
                            <div class="project-item__body-update "><p>Баранов В.В. изменил 1 минуту назад</p></div>
                            <div class="project-item__body-dotts"></div>
                        </div>
                    </div>
               
                    <button class="button-addittionaly project-item__addittionaly">
                        <img src="../../icons/dots.svg" alt="dots">
                    </button>
                    
                </div>
              
            </div>
        </div>


    </div>
</body>
</html>