@import url('../../color.css');

*{
 
    padding: 0px;
	margin: 0px;
	border: 0px;

}


html,
body {
	height: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    
	
}
.wrapper{
    width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
   
}

/* main styles */

.statuses{
    margin: 20px;
}

.status__list{
    list-style: none;
}

.status__item{
    margin: 10px 0px 0px 0px;
    
}
.status{
    margin: 0px 10px;
    
    color: var(--font-secondary);
    border-radius: 4px;
    padding: 0px 8px;
}

.bronze{
    background: var(--border-bronze);
}

.blue{
    background: var(--bg-primaryDefault);
    
}
.red{
    background: var(--font-error);
    
}
.disable{
    background: var(--font-disabled);
    
}
